*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3{
    font-weight: 800;
}

h2{
    padding-left: 250px;
}

.body{
    margin: 0 auto;
    max-width: 1250px;
    background: #fff;
    padding: 20px 30px;
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.form__wrap{
    width:70%;
}

.solar-eclipse__wrap{
    width: 210px;
}

.form {
    width: 100%;
    background: linear-gradient(#ecd4d2, #fee9e8);
    margin:20px auto;
    position: relative;
}

.all-inputs__wrap{
    padding: 30px;
}

label{
    font-weight: 500;
}

.input__wrap{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.input__wrap input {
    width: 350px;
    height: 30px;
    /* border: none; */
    border: 1px solid rgba(59, 57, 57, 0.3);
    box-shadow: inset 3px 4px 6px -1px rgba(59, 57, 57, 0.3);
}

.input__wrap:nth-child(4), .input__wrap:nth-child(6), h2{
    margin-top: 60px;
}

.input__wrap label{
    width: 250px;
}

.input__checkbox{
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-left: 2px;
}

input[name="user-surname-change"]{
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 5px;
}

.input__helper-column{
    display: flex;
    flex-direction: column;
}

.input__helper-row{
    display: flex;
    flex-direction: row;
}

input[name="user-birthday-day"]{
    width: 70px;
}

input[name="user-birthday-mounth"]{
    width: 120px;
    margin: 0 5px;
}

input[name="user-birthday-year"]{
    width: 90px;
}

.dispatch{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 145px 30px 275px;
    background: linear-gradient(#d5c8d9, #a7b2ce);
}

.dispatch .input__checkbox{
    align-items: baseline;
}

.dispatch__btn-wrap{
    margin: 20px 0px;
}

.dispatch__btn-wrap button{
    font-size: 25px;
    font-weight: 900;
    color: rgba(128, 128, 128, 0.685);
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    background: #eae9ef;
    box-shadow: 8px 14px 11px rgba(128, 128, 128, 0.685);
    -webkit-appearance: none;
    cursor: pointer;
}

.left-shadow__wrap, .right-shadow__wrap{
    z-index: -1;
    position: absolute;
    top: 15%;
}

.left-shadow__wrap{
    left: -18px;
    filter: drop-shadow(1px 18px 3px rgb(225, 194, 192));
}

.right-shadow__wrap{
    right: -18px;
    filter: drop-shadow(-1px 18px 3px rgb(225, 194, 192));
}

.paper-shadow__left, .paper-shadow__right{
    width: 20px;
    height: 300px;
    background: linear-gradient(rgba(252, 238, 238, 0.5), rgb(227, 195, 196));
}

.paper-shadow__left{
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.paper-shadow__right{
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.solar-eclipse__wrap{
    margin-top: 65px;
}

.solar-eclipse__subtitle{
    font-weight: 500;
}
